@media (min-width: 800px) {
    .contentNavbar{
        display: none;
    }
}
.contentNavbar{
    position: fixed;
    top: 0;
    width: 0%;
    overflow: hidden;
    height: 765px;
    background-color: white;
    z-index: 1;
    transition: width 0.6s ease;
    background-color: #FF7B2B;
}
.contentNavbar.show{
    width: 70%;
}
.navbar-mobile-content ul{
    
}
.navbar-mobile-content ul li{
    height: 50px;
  border-bottom: 1px solid white;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}
.navbar-mobile-content ul li a{
    padding-left: 20px;
}
  /*"postcss": "^8.5.6",
    "tailwindcss": "^4.1.12",*/